nav {
    background-color: #413737;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    height: 30px
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #f5f2f2;
    font-weight: bold;
  }
  nav a:hover {
    color: #f5f2f2;
    text-decoration: underline;
  }
  nav a.active {
    color: #f5f2f2;
    text-decoration: underline;
  }
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid white;
    border-radius: 30px;
    background-color: white;
  }
  nav input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
    margin-right: 10px;
  }
  nav button {
    padding: 10px 15px;
    background-color: rgb(105, 105, 137);
    color: #413737;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 3px;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
  }
  

  .container {
    max-width: 1200px;
    padding: 3px;
    display: flex;
}
.symbol {
    width: 50px;
    height: 50px;
    display: inline;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-right: 10px;
    margin-top: 60px;
    margin-left: 30px;
}
.vertical-line {
    width: 2px;
    background-color: #f6f2f2;
    height: 180px;
    margin-left: 5px;
    margin-right: 20px;
    display: inline-block;
}
.icon-container {
    display: flex;
    align-items: start;
    justify-content: start;
    margin-top: 40px;
    margin-left: 20px;
}
.icon-container ul {
    list-style-type: none;
    padding: 0;
    margin-left:0px;
    display: flex;
    flex-direction: column;
}
.icon-container li {
    margin-bottom: 20px;
    display: flex;
    align-items: start;
    margin-left: -20px;
    color: #0f0e0e;
}


.card {
    padding: 20px;
    margin: 10px;
    margin-left: 80px;
    margin-top: 120px;
    display: inline;
}
#card1 {
    color: #0f0e0e;
    width: 300px;
    height: 200px;
    text-align: start;
    text-justify: auto;
    font-size: 18px;
    margin-bottom: 0px;
    display: inline-block;
}

#card2 {
    color: #0e0d0d;
    width: 220px;
    height: 110px;
    text-align: start;
    text-justify: auto;
    font-size: 0.8em;
    justify-content: first baseline;
}

#bookBtn {
    background-color: #685c5c;
    color: #f6f0f0;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 30px;
}

.about-card {
    padding: 1px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 80px;
}
#title {
    font-size: 24px;
    font-weight: bold;
    color: #0f0e0e;
    margin-bottom: 10px;
}
#about-card1 {
    padding: 2px;
    border-radius: 10px;
    border: 1px solid #a79494;
    box-shadow: 4px 6px 4px rgba(0.5, 0.5, 0.5, 0.7);
    margin-bottom: 20px;
}
#about-card2 {
    padding: 2px;
    border: #967373 solid 1px;
    box-shadow: 4px 6px 4px rgba(0.5, 0.5, 0.5, 0.7);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 60px;
    margin-left: 30px;
    display: flex;
    align-items: flex-start;
    gap: 40px;
    height: 250px
}
#team {
   flex-shrink: 0;
   font-size: 20px;
   width: 100px;
}


.team-member ul {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 140px;
    margin-top: 40px;
}

.team-member ul li {
    background-color: #f8c6c6;
    color: white;
    padding: 15px;
    border-radius: 10px;
    width: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.team-member ul li img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
}
